@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    margin-right: 440px;
    text-align: center;
}
    
nav {
    padding: 10px;
}
a{
    width: 150px;
}

 .nav-button {
   border: none;
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   cursor: pointer;
   border-radius: 5px;
   margin-top: 3px;
   color: transparent;
}



.manual{
    width: 10px;
    height: 10px;
    margin-bottom: 100px;

}

.nav-button2 {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 8px;
    margin-right: 200px;
    color: transparent;
 }
 div{
    width: 15px;
    height: 15px;
    margin: auto;
 }

 .link{
    height: 1px;
    width: 1px;
    margin-top: 335px;
    margin-left: 600px;
 }